<% include ../header.html %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">员工信息</h2>
    <div class="row placeholders">
        <form class="navbar-form navbar-right"  action="/employee/list" method="get">
            <input type="text" class="form-control" name="searchParams"
                   placeholder="姓名/电话" id="searchParams"
                   value="<%=locals.searchParams %>" >
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width:10%;">账户名</th>
                    <th style="width:10%;">年龄</th>
                    <th style="width:10%;">邮箱</th>
                    <th style="width:15%;">联系电话1</th>
                    <th style="width:29%;">联系地址</th>
                    <th style="width:1%;"  ></th>
                    <th style="width:10%;"  ><a href="/employee/add">添加</a></th>
                </tr>
                </thead>
                <% if (status) { %>
                <% if (employees.length) { %>
                <tbody>
                <% employees.forEach(function(employee){ %>
                <tr>
                    <td><%= employee.employee_name %></td>
                    <td><%= employee.age %></td>
                    <td><%= employee.email %></td>
                    <td><%= employee.phone_no1 %></td>
                    <td><%= employee.home_address %></td>
                    <td></td>
                    <td><a href="/employee/modify/<%=employee._id %>">修改</a>
                        <a href="/employee/delete?id=<%=employee._id %>"
                           onclick="if(confirm('确定删除?')==false)return false;">删除</a>
                    </td>
                </tr>
                <% }) %>
                </tbody>
                <% } %>
                <% } else {%>
                <% } %>
                <tr>
                    <td></td><td></td><td></td><td></td>
                    <td align="right" colspan="3" >
                        <a href="javascript:void(0);" onclick="forward(-1)">上一页</a>
                        |
                        <%=parseInt(pageNum) %>
                        |
                        <a href="javascript:void(0);" onclick="forward(1)">下一页</a>
                        共<%=pageTotal %>页
                        <input type="text" id="pageNum" style="width:30px;"/>
                        <a href="javascript:void(0);" onclick="forward(0)">跳转</a>
                    </td>
                </tr>

            </table>
    </div>
</div>

<script type="text/javascript">

    function forward(next){
        var page = (next==0)?$('#pageNum').val():parseInt('<%=pageNum%>')+ next;
        window.location.href='/employee/list?page='+page+'&searchParams='+$('#searchParams').val();
    };


</script>
<% include ../footer.html %>
