<% include ../header.html %>
<script>
    //js赋值方法：<!--前端使用 moment -->
    //alert(moment(<= baby.birthday>).format('YYYY-MM-DD'));
</script>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">自动签到日期设置</h2>

    <form id="course_form" name="course_form" class="form-inline"  action="/holiday/list" method="get"  >
        <div class="form-group">
            <div class="input-group date form_date" data-date-format="yyyy-mm-dd" >
                <input type="text" class="form-control" name="course_rqq"
                       id = "course_rqq" placeholder="日期起"
                       value="<%=locals.course_rqq %>"
                       readonly
                >
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group date form_date" data-date-format="yyyy-mm-dd" >
                <input type="text" class="form-control" name="course_rqz"
                       id = "course_rqz" placeholder="日期止"
                       value="<%=locals.course_rqz %>"
                       readonly
                >
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <button type="submit" class="btn btn-default" onclick="forward(2)">查询</button>

        <div class="table-responsive" >
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="">序号</th>
                    <th style="">设置日期</th>
                    <th style="">过滤类型</th>
                    <th style=""><a href="/holiday/add">添加</a></th>
                </tr>
                </thead>
                <% if (holidays.length) { %>
                <tbody>
                <% holidays.forEach(function(holiday,index){ %>
                <tr>
                    <td><%=index+1+parseInt(offset) %></td>
                    <td><%= toLocalDate(holiday.course_date)  %></td>
                    <td><%= holiday.course_lx %></td>
                    <td>
                        <a href="/holiday/cancel?id=<%=holiday.id %>"
                           onclick="if(confirm('确定取消?')==false)return false;">取消</a>
                    </td>
                </tr>
                <% }) %>
                </tbody>
                <% } %>
                <tr>
                    <td></td>
                    <td align="right" colspan="3">
                        <a href="javascript:void(0);" onclick="forward(-1)">上一页</a>
                        |
                        <%=parseInt(pageNum) %>
                        |
                        <a href="javascript:void(0);" onclick="forward(1)">下一页</a>
                        共<%=pageTotal %>页
                        <input type="text" id="pageNum" style="width:30px;"/>
                        <a href="javascript:void(0);" onclick="forward(0)">跳转</a>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>



<script type="text/javascript">
    function forward(next){
        var num = $('#pageNum').val();
        if (isNaN(num)){
            num =0;
        }
        var page = (next==0)?num:parseInt('<%=pageNum%>')+ next;
        window.location.href='/holiday/list?page='+page+
            '&course_rqq='+$('#course_rqq').val()+
            '&course_rqz='+$('#course_rqz').val();
    };

    function formCheck(){
        /*
        var rqz = $('#course_rqz').val();
        var rqq = $('#course_rqq').val();
        var baby_name = $("#baby_name").val();
        if (baby_name.length==0) {
            if ( (rqq.length>0 && rqz.length==0) || (rqz.length>0 && rqq.length==0)){
                 alert("课程日期起止必须同时选择");
            }else {
                if (DateDiff(rqz,rqq) > 30 ) {
                    alert("起止日期建议不超过30天");
                }
            }
        }
        */
    }

    function  DateDiff(sDate1,  sDate2){    //sDate1和sDate2是2006-12-18格式
        var  aDate,  oDate1,  oDate2,  iDays
        aDate  =  sDate1.split("-")
        oDate1 = new Date(aDate[0] , aDate[1] ,aDate[2]) //转换为12-18-2006格式
        aDate = sDate2.split("-")
        oDate2 = new Date(aDate[0] , aDate[1] , aDate[2])
        iDays  =  parseInt(Math.abs(oDate1  -  oDate2)  /  1000  /  60  /  60  /24)    //把相差的毫秒数转换为天数
        return  iDays;
    }


    $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>

<% include ../footer.html %>