<% include ../header.html %>
<script>
    //js赋值方法：<!--前端使用 moment -->
    //alert(moment(<= baby.birthday>).format('YYYY-MM-DD'));
</script>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<h2 class="sub-header">宝贝信息</h2>
    <div class="row placeholders">
            <form class="navbar-form navbar-right" action="/baby/list" method="get"  >
                <input type="text" class="form-control" name="searchParams"
                       id="searchParams"  placeholder="姓名/电话/父亲/母亲"
                        value="<%=locals.searchParams %>"
                >
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
    </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width:4%;">序号</th>
                    <th style="width:8%;">姓名</th>
                    <th style="width:10%;">出生日期</th>
                    <th style="width:10%;">父亲</th>
                    <th style="width:10%;">母亲</th>
                    <th style="width:8%;">剩余天数</th>
                    <th style="width:10%;">联系电话1</th>
                    <th style="width:1%;" ></th>
                    <th style="width:8%;" ><a href="/baby/add">添加</a></th>
                    <th style="width:12%;" >课程管理</a></th>
                </tr>
                </thead>
                <% if (status) { %>
                    <% if (babies.length) { %>
                        <tbody>
                        <% babies.forEach(function(baby,index){ %>
                        <tr>
                            <td><%=index+1+parseInt(offset) %></td>
                            <td ><%= baby.baby_name %></td>
                            <td ><%= toLocalDate(baby.birthday) %></td>
                            <td><%= baby.father %></td>
                            <td ><%= baby.mather %></td>
                            <td><%= baby.course_count %></td>
                            <td><%= baby.phone_no1 %></td>
                            <td ></td>
                            <td >
                                <a href="/baby/modify/<%=baby._id %>">修改</a>
                                <a href="/baby/delete?_id=<%=baby._id %>"
                                   onclick="if(confirm('确定删除?')==false)return false;">删除</a>
                            </td>
                            <td>
                                <a href="/course/add?lx=0&id=<%=baby._id %>&baby_name=<%= baby.baby_name %>"
                                   >课程签到</a>
                                <a href="/course/add?lx=2&id=<%=baby._id %>&baby_name=<%= baby.baby_name %>"
                                   >课程预约</a>
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                    <% } %>
                <% } else {%>
                <% } %>
                <tr>
                    <td></td><td></td><td></td>
                    <td></td><td></td><td></td>
                    <td align="right" colspan="3" >
                        <a href="javascript:void(0);" onclick="forward(-1)">上一页</a>
                        |
                        <%=parseInt(pageNum) %>
                        |
                        <a href="javascript:void(0);" onclick="forward(1)">下一页</a>
                        共<%=pageTotal %>页
                        <input type="text" id="pageNum" style="width:30px;"/>
                        <a href="javascript:void(0);" onclick="forward(0)">跳转</a>
                    </td>
                </tr>
            </table>
        </div>
</div>


<script type="text/javascript">

    function forward(next){
        var num = $('#pageNum').val();
        if (isNaN(num)){
            num =0;
        }
        var page = (next==0)?num:parseInt('<%=pageNum%>')+ next;
        window.location.href='/baby/list?page='+page+'&searchParams='+$('#searchParams').val();
    };



    function check() {
        //表单提交前再进行一次验证
        var bootstrapValidator = $("#baby_form").data('bootstrapValidator');
        //如果验证通过()则提交表单
        return bootstrapValidator.validate();
    };


</script>
<% include ../footer.html %>