<% include ../header.html %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">课程<%=locals.title %></h1>

    <form class="form-horizontal" id="course_form" method="post" action="/course/add" onsubmit="return formCheck()">
        <div class="form-group">
            <label for="baby_name" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="baby_name"
                       id="baby_name" placeholder="姓名"
                       value="<% if(locals.baby_name) {%><%=baby_name%><%}%>"
                       required
                       readonly
                >
            </div>
        </div>
        <input type="hidden" class="form-control" name="baby_id"
               id="baby_id"
               value="<% if(locals.baby_id) {%><%=baby_id%><%}%>"
        >
        <input type="hidden" class="form-control" name="lx"
               id="lx"
               value="<% if(locals.lx) {%><%=lx%><%}%>"
        >
        <div class="form-group">
            <label for="course_rq"  class="col-sm-2 control-label"><%=locals.title %>日期</label>
            <div class="col-sm-10">
                <div class="input-group date form_date" data-date-format="yyyy-mm-dd" >
                    <input type="text" class="form-control" name="course_rq"
                           id = "course_rq"
                           value="<% if(locals.course_rq) {%><%=toLocalDate(course_rq) %><%}%>"
                           readonly
                    >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>

            <!--div class="form-group">
                <select class="form-control"  id="course_time"  name="course_time"  required >
                    <option  ></option>
                    <option value="上午"  <% if(locals.course_time==="上午") {%> selected  <% } %> >上午</option>
                    <option value="下午"  <% if(locals.course_time==="下午") {%> selected  <% } %> >下午</option>
                </select>
            </div-->

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">保存<%=locals.title %></button>
            </div>
        </div>


            <% if(locals.msg) { %>
                <%if(locals.status) { %>
                    <div class="alert alert-success"  role="alert">
                        <%=msg %>!
                    </div>
                <% }else { %>
                    <div class="alert alert-danger"  role="alert">
                        <%=msg %>!
                    </div>
                <% }
             }%>


    </div>
     <!--
            <div class="table-responsive" >
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width:4%;">序号</th>
                        <th style="width:18%;">姓名</th>
                        <th style="width:22%;">父亲</th>
                        <th style="width:22%;">母亲</th>
                        <th style="width:23%;">联系电话1</th>
                        <th style="width:10%;"><input type="checkbox" onclick="selectAll(this);"  >全选</th>
                    </tr>
                    </thead>
                    <% if (locals.babies) { %>
                    <tbody>
                    <% babies.forEach(function(baby,index){ %>
                    <tr>
                        <td><%=index+1+parseInt(offset) %></td>
                        <td><%= baby.baby_name %></td>
                        <td><%= baby.father %></td>
                        <td><%= baby.mather %></td>
                        <td><%= baby.phone_no1 %></td>
                        <td><input type="checkbox" name="baby_id" id="<%='checkbox'+index %>"
                                   value="<%=baby._id %>">
                        </td>
                    </tr>
                    <% }) %>
                    </tbody>
                    <% } %>
                    <tr>
                        <td></td><td></td><td></td>
                        <td align="right" colspan="3">

                        </td>
                    </tr>
                </table>
            </div>
             -->
        </form>

</div>


<script type="text/javascript">

    function selectAll(checkbox) {
    $('input[type=checkbox]').prop('checked', $(checkbox).prop('checked'));
    };


    function formCheck(){
        /*if($('input[type=checkbox]').is(":checked")==false){
            alert("请勾选签到人员");
            return false;
        }
        */
        if ( $('#course_rq').val().length==0){
            alert("请输入课程日期");
            return false;
        }

    };

    $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>

<% include ../footer.html %>